@import './vars';



.container{
    margin: 0 2rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-space{
    justify-content: space-between;
}

.gap1r{gap: 1rem;}
.gap2r{gap: 2rem;}
