// COLORS
$primary-color: #1375ad;
$accent-color: #3a8b83;
$black: #18222b;
$white: #f1f7fa;
$light-color: #dcefec;
$med-color: #1375ad;
$light-gray: #9fadbd;
$gray: #3b4856;

// SIZES
$base-sz-mb: 16px; 
$base-sz-dk: 18px; 


// SPACING


